# sbt
sbt/boot
sbt/launchers
sbt/**/target
sbt/**/staging
sbt/**/zinc
sbt/**/metals.sbt

# emacs
.emacs.desktop
!emacs.d
emacs.d/*
*.~undo-tree~

!emacs.d/config

# ensime
.ensime
.ensime_cache

.sbt-hydra-history

# metals
.bloop
.metals

# xmonad
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux